// HIDE SCROLLBAR
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

// NAVBAR
.navbar {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100%;
  border-right: 3px solid #99a2a2;
  background-color: #fff;
  z-index: 99999;
  .navbar_content {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #fff;
    color: #757c7c;
    display: flex;
    padding: 12px 8%;
    border-bottom: 1px solid #757575;
    &:active {
      opacity: 0.7;
    }
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      color: #000;
      font-size: 140%;
      padding: 24px 6%;
      background-color: #fff300;
      font-weight: 700;
      &:active {
        opacity: 1 !important;
      }
    }
  }
}

.active {
  background-color: #19c37d !important;
  color: #fff !important;
}

//BODY
.body,
.body_first {
  position: relative;
  height: 100%;
  padding: 0 3%;
}

.body_first {
  padding-top: 48px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 48px;
}

.content {
  margin: 18px 1.2% 32px;
  font-size: 1.2rem;
  color: #525656;
  & p,
  li {
    margin-bottom: 16px;
    line-height: 1.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & ul {
    padding-left: 6%;
  }
  & .code_block {
    background-color: #f7f7f7;
    margin: 14px 2%;
    padding: 20px 5%;
    border-radius: 5px;

    & code {
      letter-spacing: 1px;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.6rem;
      font-family: "Courier New", monospace;
      display: block;
      color: #757c7c;
      overflow: scroll;
      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.banner {
  display: none;
  justify-content: space-between;
  background-color: #fff300;
  padding: 2% 5%;
  font-size: 1.8rem;
  font-weight: 700;
  position: fixed;
  width: 100%;
  z-index: 100;
  & span {
    align-self: center;
    text-align: end;
  }
}

.menu_icon {
  display: none;
  align-self: center;
  cursor: pointer;
}

.close_icon {
  display: none;
  cursor: pointer;
}

@media (width < 992px) {
  .navbar {
    width: 75%;
    transform: translateX(-100%);
    transition: all 0.3s;
    .navbar_content {
      justify-content: space-between;
      align-items: center;
    }
  }
  .gradient {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    opacity: 0;
    transition: all 0.3s;
  }
  .body,
  .body_first {
    left: 0;
  }
  .body_first {
    padding-top: 80px;
  }
  .menu_icon {
    display: block;
  }
  .close_icon {
    display: block;
  }

  .banner {
    display: flex;
  }
}

.show {
  transform: translateX(0);
}

.display {
  animation: fade-in 0.2s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width >= 992px) and (width < 1200px) {
  .navbar {
    width: 33.3333333333% !important;
  }
}

@media (width >= 1200px) and (width < 1400px) {
  .navbar {
    width: 25% !important;
  }
}

@media (width >= 1400px) {
  .navbar {
    width: 16.66666667% !important;
  }
}
